@media only screen and (max-width: 1200px){
    header .menu{
        padding-left: 15px;
        padding-right: 15px;
    }
    header .menu nav .list{
        margin-left: 20px;
        min-height: 60px;
    }
    header .menu_0 .menu nav .list li{
        margin-right: 17px;
        display: flex;
        align-items: center;
    }
    header .menu_0 .menu nav .list .drop:after{
        margin-left: 9px;
    }
    .menu .Sign li{
        margin-right: 17px;
    }
    .banner{
        padding-left: 10px;
    }
    .owl0 .owl.owl-carousel{
        max-width: 90%;
    }
    .owl0 .owl-dots .owl-dot span{
        right: -330px;
    }
    .banner_2_0 .banner_2{
        width: 100%;
        display: block;
        padding-left: 10px;
    }
    .budget_0 .budget img{
        width: 100%;
        margin-left: 0;
    }
    .partners_0 .partners{
        display: block;
    }
    .partners_0 .partners img{
        display: block;
        text-align: center;
        margin-left: calc(100% - 60%);
    }
    .partners_0 .partners article{
        justify-content: space-around;
    }
    .partners_0 .partners p{
        padding-bottom: 100px;
    }
    .blog_0 .blogs_2{
        display: flex;
        flex-wrap: wrap;
    }
    footer .contact article ul li{
        margin-right: 15px;
    }
    footer .text_3{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 920px){
    .owl0 .owl-dots .owl-dot span{
        right: -330px;
    }
}
@media only screen and (max-width: 770px){
    header .Sign{
        display: block;
    }
    header .menu .logo{
        padding-right: 25px;
    }
}
@media only screen and (max-width: 460px){
    header .menu{
        padding-left: 0;
        padding-right: 0;
    }
    header .menu nav{
        display: none;
    }
    .menu .Sign{
        display: inline-flex;
        justify-content: end;
    }
    .banner img{
        width: 100%;
    }
    .owl0 .owl.owl-carousel img{
        padding: 50px 5px 15px 5px;
    }
    .owl0 .owl-dots .owl-dot span{
        display: none;
    }
    .text_0 .text_2 h4{
        font-size: 28px;
    }
    .banner_2_0 .banner_2{
        padding-left: 0;
        width: 100%;
    }
    .banner_2 .banner_2a p, .banner_2 .banner_2b p{
        padding-left: 0;
    }
    .banner_2 .banner_2a a, .banner_2 .banner_2b a{
        margin-left: 130px;
    }
    .banner_2 .banner_2a img, .banner_2 .banner_2b img{
        width: 100%;
    }
    .budget_0 .budget article{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .partners_0 .partners img{
        margin-left: calc(100% - 75%);

    }
    .partners_0 .partners article span{
        font-size: 16px;
        text-align: center;
    }
    .list_2 article{
        max-width: 100px;
    }
    .banner_3_0 .banner_3 img{
        max-width: 90%;
        max-height: 90%;
    }
}
@media only screen and (max-width: 376px){
    footer{
        width: 100%;
    }
    footer .list_2 article{
        max-width: 80px;
    }
    footer .list_2 logo{
        margin-right: 10px;
    }
    .menu .Sign li{
        display: none;
    }
    .menu .Sign .contact_1{
        display: block;
    }

}