@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

.contact_1{
    border: 1px solid #f46a35;
    border-radius: 10px;
    max-width: 148px;
    height: 36px;
    background: #f46a35;
}
.Sign .contact_1 a:last-of-type{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #fff;
    font-family: 'robotoregular';
    padding: 7px 26px;
    display: flex;
}
.banner{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.banner .text_1{
    max-width: 608px;
}
.banner .text_1 h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #212121;
    font-family: 'robotoregular';
    margin-bottom: 40px;
    padding-top: 50px;
}
.banner .text_1 article h3{
    margin-bottom: 9px;
    padding-top: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: 'robotoregular';
}
.banner .text_1 article p{
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: 'robotoregular';
}
.banner .text_1 article{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 31px;
    margin-right: 40px;
}
.banner .text_1 .art{
    padding-bottom: 63px;
    max-width: 504px;
}
.banner .text_1 .button_1 a{
    border: 1px solid #f46a35;
    border-radius: 10px;
    background: #f46a35;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: 'robotoregular';
    padding: 7px 38px;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
}
.banner .text_1 .art .button_1 a:last-of-type{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    font-family: 'robotoregular';
}
.banner .text_1 article a{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #212121;
    font-family: 'robotoregular';
}
.banner .text_1 article a:hover{
    color: #f46a35;
}
.banner img{
    display: flex;
}
.owl.owl-carousel{
    width: 1200px;
    min-height: 152px;
    margin: auto;
}
.owl.owl-carousel img{
    height: 24px;
    max-width: 202px;
    padding: 96px 12px 32px 12px;
}
.owl-dots .owl-dot span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #f46a35;
    position: relative;
    right: -560px;
}
.owl-dots .owl-dot.active span{
    background-color: saddlebrown;
}
.text_2{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.text_2 h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #212121;
    font-family: 'robotoregular';
    padding: 160px 0 8px;

}
.text_2 p{
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    font-family: 'robotoregular';
    padding-bottom: 48px;
}
.banner_2{
    width: 1200px;
    margin: auto;
    display: flex;
    min-height: 729px;
}
.banner_2a{
    width: 580px;
    background: url("../img/back_1.png");
    margin-right: 8px;
    height: 100%;

}
.banner_2b{
    width: 580px;
    background: url("../img/back_2.png");
    height: 100%;
}
.banner_2 h4{
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-family: 'robotoregular';
    padding: 48px 0 10px;
}
.banner_2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-family: 'robotoregular';
    max-width: 476px;
    padding: 0 0 22px 52px;
}
.banner_2 .banner_2b h4{
    color: #212121;
}
.banner_2 .banner_2b p{
    color: #212121;
}
.banner_2 a{
    border: 1px solid #fff;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #fff;
    font-family: 'robotoregular';
    padding: 13px 41px;
    margin-left: 210px;
    margin-bottom: 24px;
}
.banner_2 .banner_2b a{
    border: 1px solid #212121;
    color: #212121;
}
.banner_2 img{
    display: flex;
}
.budget{
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    background: #f9f9f9;
}
.budget article{
    display: block;
    justify-content: start;
    max-width: 920px;
    margin-left: 48px;
    min-height: 252px;
}
.budget h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    color: #212121;
    font-family: 'robotoregular';
    padding: 15px 0 21px;
}
.budget p{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: 'robotoregular';
    margin-bottom: 24px;
}
.budget a{
    border: 1px solid #212121;
    border-radius: 10px;
    width: 203px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #212121;
    font-family: 'robotoregular';
    padding: 12px 21px;
}
.budget img{
    margin: 0 0 80px 48px;
}
.partners{
    width: 1200px;
    margin: auto;
    padding-top: 251px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 664px;

}
.partners img{
    width: 180px;
    height: 21px;
    padding-bottom: 49px;

}
.partners article{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.partners article span{
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    color: #212121;
    font-family: 'robotoregular';
    max-width: 673px;
    padding-bottom: 48px;
}
.partners article p{
    background-color: #edefee;
    color: #212121;
    font-family: 'robotoregular';
    padding: 0;
    width: 40px;
    height: 20px;
}
.partners p{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    padding-bottom: 227px;
}
.blog{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.blog h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #212121;
    font-family: 'robotoregular';
    padding: 25px 0 79px;
    display: block;
    max-width: 687px;
}
.blogs{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
    /*padding-bottom: 81px;*/

}
.blogs article{
    display: block;
    width: 325px;
}
.blogs article img{
    margin-bottom: 26px;
}
.blogs article p{
    margin-bottom: 22px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: 'robotoregular';
}
.blogs article a{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
    font-family: 'robotoregular';
    /*margin-bottom: 81px;*/
}
.blogs article a:hover{
    color: #f46a35;
}
.blogs_2{
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 1110px;
    min-height: 442px;
    margin: auto;


}
.blogs_2 article{
    width: 275px;
    height: 202px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.2);
}








