@import "styles.css";


$main_color:#f46a35;
$main_font:'robotoregular';

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}

header {
  padding-top: 31px;
  padding-bottom: 18px;
  .menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    background: #fff;
    align-items: center;
    .logo{
      margin-bottom: 2px;
    }
    nav {
      margin-left: -20px;
      .list {
        display: inline-flex;
        line-height: 123%;
        text-align: center;
        list-style: none;
        .drop{
          &:after{
            content: "";
            background-image: url("../img/arrow.svg");
            width: 13px;
            height: 8px;
            display: inline-block;
          }
        }
        li {
          display: inline-block;
          line-height: 123%;
          text-align: center;
          margin-right: 50px;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #212121;
            font-family: $main_font;
          }
        }
      }
    }
  }
}
a{
  text-decoration: none;
}
.Sign{
  display: inline-flex;
  line-height: 123%;
  text-align: center;
  list-style: none;
  align-items: center;
  li{
    display: inline-block;
    line-height: 123%;
    text-align: center;
    margin-right: 50px;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #212121;
      font-family: $main_font;
      &:nth-last-of-type{
        color: #ffffff;
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}




