@import "styles.css";
@import "media_contact.css";


$main_color:#f46a35;
$main_font:'robotoregular';

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}
input{
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
  padding: 12px 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 14px;
  font-family: $main_font;
}
textarea{
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
  padding: 10px 6px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 300px;
  height: 95px;
  box-sizing: border-box;
  margin-bottom: 14px;
  font-family: $main_font;
}
.container{
  max-width: 500px;
  margin: auto;
  border: solid 2px black;
  padding: 52px 100px 50px;
  box-sizing: border-box;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 14px;
    font-family: $main_font;
  }
  p{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 15px;
    font-family: $main_font;
  }
  button{
    width: 300px;
    text-align: center;
    border: none;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    border-bottom: 4px solid #964c31;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: $main_color;
    font-weight: 400;
    font-size: 16px;
    line-height: 157%;
    font-family: $main_font;
    &:hover{
      box-shadow: 0 0 rgba(0, 0, 0, 0.4);
      border-bottom-width: 2px;
      transform: translateY(2px);
    }
  }
  }
.container .text{
  text-align: center;
  margin-bottom: 25px;
  span{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: $main_color;
    margin-bottom: 41px;
    font-family: $main_font;
  }
}
header {
  padding-top: 31px;
  padding-bottom: 18px;
  .menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 60px;
    margin: auto;
    background: #fff;
    align-items: center;
    .logo{
      margin-bottom: 2px;
    }
    nav {
      margin-left: -20px;
      .list {
        display: inline-flex;
        line-height: 123%;
        text-align: center;
        list-style: none;
        .drop{
          &:after{
            content: "";
            background-image: url("../img/arrow.svg");
            width: 13px;
            height: 8px;
            display: inline-block;
          }
        }
        li {
          display: inline-block;
          line-height: 123%;
          text-align: center;
          margin-right: 50px;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #212121;
            font-family: $main_font;
          }
        }
      }
    }
  }
}
a{
  text-decoration: none;
}
.Sign{
  display: inline-flex;
  line-height: 123%;
  text-align: center;
  list-style: none;
  align-items: center;
  li{
    display: inline-block;
    line-height: 123%;
    text-align: center;
    margin-right: 50px;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #212121;
      font-family: $main_font;
      &:nth-last-of-type{
        color: #ffffff;
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.Sign .contact_1 a:last-of-type{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  border-bottom: 4px solid #964c31;
  transition: 0.3s;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: $main_color;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  font-family: $main_font;
  &:hover {
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
    transform: translateY(2px);
  }
}
.banner{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  img{
    display: flex;
  }
  .text_1{
    max-width: 608px;
    h1{
      font-weight: 400;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.04em;
      color: #212121;
      font-family: $main_font;
      margin-bottom: 40px;
      padding-top: 50px;
    }
    article{
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 31px;
      margin-right: 40px;
      a{
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #212121;
        font-family: $main_font;
        &:hover{
          color: $main_color;
        }
      }
      h3{
        margin-bottom: 9px;
        padding-top: 33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #212121;
        font-family: $main_font;
      }
      p{
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        color: #212121;
        font-family: $main_font;
      }
    }
    .art{
      padding-bottom: 63px;
      max-width: 504px;
    }
  }
}
.banner{
  .text_1{
    .button_1{
      a{
        text-decoration: none;
        color: #ffffff;
        border-radius: 5px;
        width: 150px;
        height: 35px;
        border-bottom: 4px solid #964c31;
        transition: 0.3s;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
        background-color: $main_color;
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        font-family: $main_font;
        padding: 7px 26px;
        &:hover{
          box-shadow: 0 0 rgba(0, 0, 0, 0.4);
          border-bottom-width: 2px;
          transform: translateY(2px);
        }
        &:last-of-type{
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          background: #ffffff;
          font-weight: 400;
          font-size: 14px;
          color: #212121;
          font-family: $main_font;
        }
      }
    }
  }
}
.owl.owl-carousel{
  max-width: 1200px;
  min-height: 152px;
  margin: auto;
  img{
    height: 24px;
    max-width: 202px;
    padding: 96px 12px 32px 12px;
  }
}
.owl-dots{
  .owl-dot{
    span{
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin: 10px;
      background-color: $main_color;
      position: relative;
      right: -560px;
    }
  }
}
.owl-dots .owl-dot.active{
  span{
    background-color: saddlebrown;
  }
}
.text_2{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #212121;
    font-family: $main_font;
    padding: 160px 0 8px;
  }
  p{
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    font-family: $main_font;
    padding-bottom: 48px;
  }
}
.banner_2{
  max-width: 1200px;
  margin: auto;
  display: flex;
  min-height: 729px;
  h4{
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-family: $main_font;
    padding: 48px 0 10px;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-family: $main_font;
    max-width: 476px;
    padding: 0 0 22px 52px;
  }
  a{
    border: 1px solid #fff;
    color: #fff;
    margin-left: 210px;
    margin-bottom: 24px;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.45);
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    font-family: $main_font;
    padding: 7px 26px;
    &:hover{
      box-shadow: 0 0 rgba(255, 255, 255, 0.45);
      border-bottom-width: 2px;
      transform: translateY(2px);
    }
  }
  img{
    display: flex;
  }
}
.banner_2a{
  width: 580px;
  background: url("../img/back_1.png");
  margin-right: 8px;
  height: 100%;
}
.banner_2b{
  width: 580px;
  background: url("../img/back_2.png");
  height: 100%;
  h4{
    color: #212121;
  }
  p{
    color: #212121;
  }
  a{
    border: 1px solid #212121;
    color: #212121;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    &:hover{
      box-shadow: 0 0 rgba(0, 0, 0, 0.4);
      border-bottom-width: 2px;
      transform: translateY(2px);
    }
  }
}
.budget_0{
  width: 100hw;
  background: #f9f9f9;
}
.budget{
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
  background: #f9f9f9;
  article{
    display: block;
    justify-content: start;
    max-width: 920px;
    margin-left: 48px;
    min-height: 252px;
  }
  h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    color: #212121;
    font-family: $main_font;
    padding: 15px 0 21px;
  }
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: $main_font;
    margin-bottom: 24px;
  }
  a{
    text-decoration: none;
    color: #212121;
    border-radius: 5px;
    width: 203px;
    height: 48px;
    border-bottom: 4px solid #727070;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    font-family: $main_font;
    padding: 7px 26px;
    &:hover{
      box-shadow: 0 0 rgba(0, 0, 0, 0.4);
      border-bottom-width: 2px;
      transform: translateY(2px);
    }
  }
  img{
    margin: 0 0 80px 48px;
  }
}
.partners{
  max-width: 1200px;
  margin: auto;
  padding-top: 251px;
  text-align: center;
  max-height: 664px;
  img{
    max-width: 180px;
    height: 21px;
    padding-bottom: 49px;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    padding-bottom: 227px;
  }
  article{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    span{
      display: block;
      font-weight: 400;
      font-size: 22px;
      line-height: 109%;
      color: #212121;
      font-family: $main_font;
      max-width: 673px;
      padding-bottom: 48px;
    }
    p{
      background-color: #edefee;
      color: #212121;
      font-family: $main_font;
      padding: 0;
      width: 40px;
      height: 20px;
    }
  }
}
.blog{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #212121;
    font-family: $main_font;
    padding: 25px 0 79px;
    display: block;
    max-width: 687px;
  }
}
.blogs{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  justify-content: space-around;
  article{
    display: block;
    max-width: 325px;
    img{
      margin-bottom: 26px;
    }
    p{
      margin-bottom: 22px;
      text-align: left;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #212121;
      font-family: $main_font;
    }
    a{
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #212121;
      font-family: $main_font;
      &:hover{
        color: $main_color;
      }
    }
  }
}
.blogs_2{
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 1110px;
  min-height: 442px;
  margin: auto;
  article{
    width: 275px;
    height: 202px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.banner_3_0{
  width: 100hw;
  background-image: url("../img/banner_3.png");
}
.banner_3{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .art_2{
    padding-right: 30px;
    max-width: 434px;
    h1{
      font-weight: 400;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.04em;
      color: #212121;
      font-family: $main_font;
      margin-bottom: 40px;
      padding-top: 50px;
    }
    p{
      padding-bottom: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.02em;
      color: #212121;
      font-family: $main_font;
    }
  }
  img{
    display: flex;
    width: 552px;
    height: 451px;
  }
}
.button_3{
  a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    border-bottom: 4px solid #964c31;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: $main_color;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    font-family: $main_font;
    padding: 7px 26px;
    &:hover{
      box-shadow: 0 0 rgba(0, 0, 0, 0.4);
      border-bottom-width: 2px;
      transform: translateY(2px);
    }
    &:last-of-type{
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background: #ffffff;
      font-weight: 400;
      font-size: 14px;
      color: #212121;
      font-family: $main_font;
    }
  }
}
footer{
  width: 100hw;
  background: #171717;
}
.footer_0{
  max-width: 1200px;
  background: #171717;
  margin: auto;
  padding-top: 122px;
  .list_2{
    display: flex;
    justify-content: space-around;
  }
}
.list_2{
  article{
    ul{
      list-style: none;
      li{
        a{
          font-weight: 400;
          font-size: 14px;
          line-height: 157%;
          color: #bcbdbd;
          font-family: $main_font;
          &:hover{
            color: $main_color;
          }
        }
      }
      &:first-of-type{
        margin-bottom: 97px;
      }
    }
    h4{
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #fff;
      font-family: $main_font;
      padding-bottom: 7px;
    }
  }
}
.contact{
  max-width: 602px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 131px;
  article{
    .media{
      list-style: none;
      display: inline-flex;
    }
    ul{
      li{
        margin-right: 24px;
      }
    }
    .payment{
      list-style: none;
      display: inline-flex;
    }
  }
}
.text_3{
  display: inline-block;
  max-width: 1099px;
  margin: 0 0 121px 48px;
  p{
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #bcbdbd;
    font-family: $main_font;
    padding-bottom: 9px;
  }
}